/* SCSS Variables */

$font-stack: Open Sans Condensed, Helvetica, sans-serif;
$stock-back: #333333;
$font-color: #f3f3f3;

/* CSS styling for angular scope */
.ng-scope {
	min-height: 100vh;
	width: 100vw;
	background-color: $stock-back;
}

@media (max-width: 500px) {
	.ng-scope {
		height: auto;
	}
}

/* Styling for Nav bars*/

.navbar {
	background-color: $stock-back;
	padding: 0 40px;
	display: inline-block;
	.container-fluid {
		padding-top:5px;
	}
	a {
		color: $font-color;
		font-family: $font-stack;
		font-size: 25px;
	}
	li:hover {
		a { 
		color: $stock-back;
		}
	}
	.navbar-brand{
			font-size: 30px;
			font-family: $font-stack;
	}
	span {
		background-color: $font-color;
	}
}

/* Styling for Home Page */
#elecTop {
	margin-top: 20px;
	position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#elecTitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	animation-name: animateHome;
	animation-duration: 0.4s;
	/* Home Animation */
	@-webkit-keyframes animateHome {
		from {top:-400px; opacity:0} 
		to {top:0; opacity:1}
	}
	@keyframes animateHome {
		from {top:-400px; opacity:0}
		to {top:0; opacity:1}
	}
	h2 {
		font-size: 80px;
	}
	p {
		color: $font-color;
		font-family: $font-stack;
		font-size: 40px;
		margin-top: 20px;
	}
	#home-brief{
		font-size: 30px;
		a {
			text-decoration: underline;
			color: $font-color;
		}
		
	}
}



@media (max-width: 500px) {
	#elecTitle {
		margin-top: 10px;
		h2 {
			font-size: 40px
		}
		p {
			font-size: 25px;
		}
		#home-brief {
			font-size: 20px;
		}
	}
}

#elecHead {
	font-family: $font-stack;
	color:$font-color;
	margin-bottom: 20px;
	.fix-head {
		position: fixed;
	}
}

/* Styling for About me section of ELectrician Page */

#aboutMe {
	padding-bottom: 20px;
	position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;	
	h3 {
		margin-top: 55px; 
		color: $font-color;
		font-family: $font-stack;
		margin-bottom: 5vh;
		font-size: 80px;
	}
}

#aboutContent {
	color: $font-color;
	font-family: $font-stack;
	width: 100vw;
	padding: 5vh 15vw;
	p {
		font-size: 20px;
	}
	img {
		max-width: -webkit-fill-available;
		border-radius: 5px;
		max-height: 60vh;
	}
}

/* CSS styling for carousel in aboutme sections */

#carousel {
	color: $font-color;
	font-family: $font-stack;
	width: 100vw;
	padding: 5vh 15vw;
	p {
		font-size: 20px;
	}
	img {
		max-width: -webkit-fill-available;
		border-radius: 5px;
	}
	#slider {
		height: 300px;
	}
	#sliders {
		align-content: center;
	}
	div {
		@media (max-width: 768px) {
			display: none;
		}
	}
}

/* Styling for electrician portfolio page */

#portfolio {
	position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-bottom: 50px;
	margin-top: 50px;
	h1 {
		color: $font-color;
		font-family: $font-stack;
		font-size: 50px;
		margin-top: 20px;
	}
	h3 {
		color:$font-color;
		font-family: $font-stack;
		font-size: 30px;
	}
	@media (max-width: 500px) {
		h1 {
			font-size: 40px;
		}
		h3 {
			font-size: 20px;
		}
	}
	.row {
		padding: 0 5vw;
	}
}

.portWork {
	box-sizing: border-box;
	vertical-align: top;
	border: none;
	border-radius: 10px;
	margin: 30px;
	white-space: normal;
	max-width: 400px;
	background-color: $stock-back;
	h3 {
		color: $font-color;
		font-family: $font-stack
	}
	img {
		max-width: 100%;
		max-height: 100%;
		margin-bottom: auto;
		border-radius: 10px;
	}
}

/* Styling for Modals */

.modal {
	display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
	height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	.modal-content {
		position: relative;
		width: 80vw;
		margin-top: 60px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		-webkit-animation-name: animatemodal;
		-webkit-animation-duration: 0.4s;
		animation-name: animatemodal;
		animation-duration: 0.4s
	}
	/* Animation */
	@-webkit-keyframes animatemodal {
		from {top:-400px; opacity:0} 
		to {top:0; opacity:1}
	}

	@keyframes animatemodal {
		from {top:-400px; opacity:0}
		to {top:0; opacity:1}
	}
	.modal-header {
		background-color: $stock-back;
		h4 {
			width: 100%;
			text-align: center;
			font-style: $font-stack;
			color: $font-color;
		}
	}
	.modal-body {
		font-family: $font-stack;
		font-size: 20px;
	}
	.modal-footer {
		background-color: $stock-back; 
	}
	.btnClose:hover,
	.btnClose:focus {
		cursor: pointer;
		text-decoration: none;
		color: #000;
	}
}

/* Styling for electrician contact me page */

#contactMe {
	background-color: $stock-back;
	min-height: 80vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contactHead {
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: $font-color;
	h1 {
		margin-top: 20px;
		margin-bottom: 40px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-family: $font-stack;
		font-size: 50px;
	}
	p {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-family: $font-stack;
		font-size: 20px;
		max-width: 60vw;
	}
}

/* Styling for contact me submission form */

#map-form {
	width: 100vw;
	.col-md-offset-1 {
		color: $font-stack;
		text-align: -webkit-center;
		h3 {
			font-family: $font-stack;
			color: $font-color;
		}
	}
	@media (max-width: 420px) {
		iframe {
			display: none;
		}
	}
}

#contact-Form {
	label {
		color:$font-color;
	}
	#comment {
		height: 35vh;
	}
}

#submit-button {
	align-items: center;
	button {
		color: $stock-back;
		border-radius: 8px;
		background-color: white;
		width: -webkit-fill-available;
	}
}	

/* Styling for the footer */
.footer {
	background: #F5F5F5;
	height: auto;
	position: relative;
	width: 100%;
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	h2 {
		text-align: center;
		text-transform: uppercase;
		color: #5F9EA0;
		font-size: 20px;
		font-weight: 400;
		border-bottom: solid #A9A9A9 1px;
		padding-bottom: 10px;
	}
	ul {
		font-family: $font-stack;
		font-size: 18px;
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
		color: #A9A9A9
	}
	@media (max-width: 991px) {
		ul {
			text-align: center;
			font-size: 25px;
		}
	}
}

.glyphicon-earphone {
	margin-bottom: 10px;
}

#siteMap ul li a {
	color: #A9A9A9;
	font-size: 25px;
}

.newsletter-box {
	overflow: hidden;
	#phone-no{
		font-size: 25px;
	}
	.btn {
		border: 2px black solid;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 8px;
		display: inline-block;
		padding: 0;
		width: 100%;
		font-family: $font-stack;
		font-size: 20px;
		color: $stock-back;
		p {
			margin-top: auto;
			margin-bottom: auto;
		}
	}
}

.social {
	width: 100%;
	li {
		width: 23%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
		float: left;
		height: 30px;
		line-height: 30px;
		margin: 0 2px;
		padding: 0;
		text-align: center;
		transition: all 0.5s ease 0s;
		-moz-transition: all 0.5s ease 0s;
		-webkit-transition: all 0.5s ease 0s;
		-ms-transition: all 0.5s ease 0s;
		-o-transition: all 0.5s ease 0s;
	}
	li:hover {
		transform: scale(1.15) rotate(360deg);
		-webkit-transform: scale(1.1) rotate(360deg);
		-moz-transform: scale(1.1) rotate(360deg);
		-ms-transform: scale(1.1) rotate(360deg);
		-o-transform: scale(1.1) rotate(360deg);
	}
}

.footer-bottom {
	text-align: center;
	h4 {
		margin-bottom: 0;
		padding-bottom: 10px; 
	}
}