/* SCSS Variables */
/* CSS styling for angular scope */
/* line 8, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.ng-scope {
  min-height: 100vh;
  width: 100vw;
  background-color: #333333;
}

@media (max-width: 500px) {
  /* line 15, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
  .ng-scope {
    height: auto;
  }
}

/* Styling for Nav bars*/
/* line 22, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.navbar {
  background-color: #333333;
  padding: 0 40px;
  display: inline-block;
}

/* line 26, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.navbar .container-fluid {
  padding-top: 5px;
}

/* line 29, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.navbar a {
  color: #f3f3f3;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-size: 25px;
}

/* line 34, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.navbar .navbar-brand {
  font-size: 30px;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
}

/* line 38, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.navbar span {
  background-color: #f3f3f3;
}

/* Styling for Home Page */
/* line 44, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#elecTop {
  margin-top: 20px;
  position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* line 53, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#elecTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* line 57, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#elecTitle h2 {
  font-size: 80px;
}

/* line 60, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#elecTitle p {
  color: #f3f3f3;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 20px;
}

/* line 66, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#elecTitle #home-brief {
  font-size: 30px;
}

@media (max-width: 500px) {
  /* line 72, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
  #elecTitle {
    margin-top: 10px;
  }
  /* line 74, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
  #elecTitle h2 {
    font-size: 40px;
  }
  /* line 77, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
  #elecTitle p {
    font-size: 25px;
  }
  /* line 80, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
  #elecTitle #home-brief {
    font-size: 20px;
  }
}

/* line 86, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#elecHead {
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  color: #f3f3f3;
  margin-bottom: 20px;
}

/* line 90, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#elecHead .fix-head {
  position: fixed;
}

/* Styling for About me section of ELectrician Page */
/* line 97, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#aboutMe {
  padding-bottom: 20px;
  position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* line 107, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#aboutContent {
  color: #f3f3f3;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  padding: 5vh 15vw;
}

/* line 111, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#aboutContent h3 {
  margin-bottom: 5vh;
  font-size: 80px;
}

/* line 115, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#aboutContent p {
  font-size: 20px;
}

/* line 120, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#elecCarousel {
  height: 200px;
}

/* CSS styling for carousel in aboutme sections */
/* Styling for electrician portfolio page */
/* line 130, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#portfolio {
  background-color: #333333;
  width: 100vw;
  position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  margin-top: 50px;
}

/* line 141, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#portfolio h1 {
  color: #f3f3f3;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-size: 30px;
  margin-top: 20px;
}

/* line 147, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#portfolio .row {
  padding: 0 5vw;
}

/* line 152, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.portWork {
  box-sizing: border-box;
  vertical-align: top;
  border: 1px grey solid;
  border-radius: 10px;
  margin: 30px;
  white-space: normal;
  max-width: 400px;
}

/* line 160, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.portWork img {
  max-width: 100%;
  max-height: 100%;
  margin-bottom: auto;
}

/* Styling for Modals */
/* line 171, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.modal .modal-header h4 {
  width: 100%;
  text-align: center;
}

/* line 177, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.modal .modal-body .modalPic {
  margin: 10px auto;
}

/* line 179, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.modal .modal-body .modalPic img {
  max-height: 200px;
}

/* Styling for electrician contact me page */
/* line 188, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#contactMe {
  background-color: #333333;
  min-height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 197, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#contactHead {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #f3f3f3;
}

/* line 203, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#contactHead h1 {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-size: 50px;
}

/* line 212, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#contactHead p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-size: 20px;
  max-width: 60vw;
}

/* Styling for contact me submission form */
/* line 224, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#contact-Form {
  width: 50vw;
}

/* line 226, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#contact-Form label {
  color: #f3f3f3;
}

/* line 229, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#contact-Form #comment {
  height: 35vh;
}

/* line 234, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#submit-button {
  align-items: center;
}

/* line 236, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#submit-button input {
  color: #333333;
  border-radius: 8px;
  background-color: white;
  width: -webkit-fill-available;
}

/* Styling for the footer */
/* line 245, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.footer {
  background: #F5F5F5;
  height: auto;
  position: relative;
  width: 100%;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}

/* line 252, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.footer h2 {
  text-align: center;
  text-transform: uppercase;
  color: #5F9EA0;
  font-size: 20px;
  font-weight: 400;
  border-bottom: solid #A9A9A9 1px;
  padding-bottom: 10px;
}

/* line 261, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.footer ul {
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-size: 18px;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  color: #A9A9A9;
}

@media (max-width: 991px) {
  /* line 270, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
  .footer ul {
    text-align: center;
    font-size: 25px;
  }
}

/* line 277, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
#siteMap ul li a {
  color: #A9A9A9;
}

/* line 281, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.newsletter-box {
  overflow: hidden;
}

/* line 283, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.newsletter-box .btn {
  border: 2px black solid;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 8px;
  display: inline-block;
  padding: 0;
  width: 100%;
  font-family: Open Sans Condensed, Helvetica, sans-serif;
  font-size: 20px;
  color: #333333;
}

/* line 296, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.newsletter-box .btn p {
  margin-top: auto;
  margin-bottom: auto;
}

/* line 303, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.social {
  width: 100%;
}

/* line 305, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.social li {
  width: 23%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0 2px;
  padding: 0;
  text-align: center;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}

/* line 324, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

/* line 333, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.footer-bottom {
  text-align: center;
}

/* line 335, /Users/Henry/Documents/Coding/Projects/JackMckenna/css/sass/desktop.scss */
.footer-bottom h4 {
  margin-bottom: 0;
  padding-bottom: 10px;
}

/*# sourceMappingURL=../css/desktop.map */