<!-- About me Section-->
<div class="container" id="aboutMe">
    <h3>About Jack McKenna</h3>
    <div class ="row" id="aboutContent">
        <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12"><img src="images/jack-profile.jpg"></div>
        <div class="col-lg-5 col-md-5 col-sm-10 col-sm-offset-1 col-xs-12">
            <p>Cillum aliquip enim nostrud Lorem consectetur. Lorem aute sit proident elit quis ea non aliquip proident tempor mollit esse. Ex laborum anim deserunt incididunt sint occaecat amet. Culpa laborum in consequat labore fugiat et esse labore pariatur minim non. Aliqua pariatur nostrud irure velit officia do incididunt ullamco voluptate laborum dolore laborum ea nisi.</p>
            <p>Irure minim reprehenderit minim nisi. Dolor aliquip sit elit eiusmod et labore id consectetur enim deserunt sit. Duis Lorem eiusmod voluptate excepteur minim dolore ex. Et et veniam aliqua id sit. Cillum pariatur est laboris cupidatat est cillum nostrud deserunt aute qui minim dolore. Magna commodo eu velit ut labore ullamco.</p>
        </div>
    </div>
    <div class="row" id="carousel">
        <p class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
        I am a fully insured NICEIC certified electrician. I can offer all types of electrical work from troubleshooting and repair, 
        to design and installation. Whether you need a socket outlet relocated, a consumer unit updated to regulation, 
        or a complete rewire, there is no job too big or small.<br>
        As a registered Domestic Installer with the NICEIC, all work is covered by the NICEIC 
        <a href="https://www.niceic.com/find-a-contractor/platinum-promise" target="_blank">Platinum Promise</a> and issued with relevant certification.<br>
        As well as specialising in electrical work, I am competent in decorating and basic plastering, 
        which means I can “make good” any chases or holes that may be required to complete the electrical install.
        </p>
        <div class="col-lg-5 col-md-5 col-sm-10 col-sm-offset-1 col-xs-12">
            <img id="slider" src="images/Carousel-Images/electrician-1.jpg">
            <div id="sliders" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span></button>
                <button ng-click="next()"><span class="glyphicon glyphicon-chevron-right"></span></button>
            </div>
        </div>
    </div>
</div>