<!-- About me Section-->
<div class="container" id="aboutMe">
    <div id="aboutContent">
        <h3>About Jack McKenna</h3>
        <p>I am a fully insured NICEIC certified electrician. I can offer all types of electrical work from troubleshooting and repair, 
            to design and installation. Whether you need a socket outlet relocated, a consumer unit updated to regulation, 
            or a complete rewire, there is no job too big or small.<br>
            As a registered Domestic Installer with the NICEIC, all work is covered by the NICEIC 
            <a href="https://www.niceic.com/find-a-contractor/platinum-promise" target="_blank">Platinum Promise</a> and issued with relevant certification.<br>
            As well as specialising in electrical work, I am competent in decorating and basic plastering, 
            which means I can “make good” any chases or holes that may be required to complete the electrical install.</p>
    </div>
    <div class="container">
        <!-- Image carousel-->
        <div id="elecCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#elecCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#elecCarousel" data-slide-to="1"></li>
                <li data-target="#elecCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item acitve">
                    <img src="/images/Carousel-Images/electrician-1.jpg" alt="slide-1">
                </div>

                <div class="item">
                    <img src="/images/Carousel-Images/electrician-2.jpg" alt="slide-2">
                </div>

                <div class="item">
                    <img src="/images/Carousel-Images/electrician-3.jpg" alt="slide-3">
                </div>
            </div>
            <a class="left carousel-control" href="#elecCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#elecCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>