<div id="electrician" data-spy="scroll" data-target=".navbar" data-offset="50">
<!-- This covers the Navbar -->
	<nav class="navbar navbar-fixed-top">
        <div class="container navbar-inner">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Jack Mck</a>
                <a class="navbar-brand" id="subNavBrand" href="/engineer">Loking for a Sound Engineer?<br>Click Here</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#aboutMe">About</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#contactMe">Contact</a></li>
            </ul>
        </div>
    </nav>
<!-- This covers the homepage for Electrician Site-->
    <div class ="container" id="elecTop">
    	<div id="elecTitle">
	    	<h2 id="elecHead" class="fix-head">Jack Mckenna</h2>
	    	<p>Electician</p>
	    	<a><img src="/images/white-bulb-no-bck.png"></a>
	    	<span class="glyphicon glyphicon-menu-down"></span>
	    </div>
    </div>
<!-- Gallery division between home and about me sections of site-->
    <div class="fixedGall" id="qualElec">
    	<h2>Qualified NVQ Electrician<br>with a Passion for Perfection and safety</h2>
    	<a id="elecwire"><img src="/images/cable-bundle.png"></a>
    </div>
<!-- About me section --> 
    <div class="container" id="aboutMe">
    	<div id="aboutContent">
    		<h3>What I do</h3>
    		<p>167. Those who followed will say, “If only we can have another chance, we will disown them, as they disowned us.” Thus Allah will show them their deeds, as regrets to them, and they will not come out of the Fire.<br>
			168. O people! Eat of what is lawful and good on earth, and do not follow the footsteps of Satan. He is to you an open enemy.<br>
			169. He commands you to do evil and vice, and to say about Allah what you do not know.<br>
			170. And when it is said to them, “Follow what Allah has revealed,” they say, “We will follow what we found our ancestors following.” Even if their ancestors understood nothing, and were not guided?<br>
			171. The parable of those who disbelieve is that of someone who calls upon someone who hears nothing except screaming and yelling. Deaf, dumb, and blind—they do not under- stand.<br>
			172. O you who believe! Eat of the good things We have provided for you, and give thanks to Allah, if it is Him that you serve.<br>
			173. He has forbidden you carrion, and blood, and the flesh of swine, and what was dedi- cated to other than Allah. But if anyone is compelled, without desiring or exceeding, he commits no sin. Allah is Forgiving and Mer- ciful.</p>
    	</div>
    	<!-- Image carousels-->
    	<div class="row" id="carouselRow">
    	<!-- Carousel Number 1 -->
	    	<div id="myCarousel1" class="carousel slide" data-ride="carousel">
	    	<!-- Indicators -->
	    		<ol class="carousel-indicators">
	    		    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
				    <li data-target="#myCarousel1" data-slide-to="1"></li>
				    <li data-target="#myCarousel1" data-slide-to="2"></li>
				</ol>
			<!-- Wrapper for the slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="/images/Carousel-Images/electrician-1.jpg" alt="elec-1">
					</div>
					<div class="item">
						<img src="/images/Carousel-Images/electrician-2.jpg" alt="elec-2">
					</div>
					<div class="item">
						<img src="/images/Carousel-Images/electrician-3.jpg" alt="elec-3">
					</div>
				</div>
				  <!-- Left and right controls -->
				<a class="carousel-control left" href="#myCarousel1" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				    <span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control right" href="#myCarousel1" data-slide="next">
				    <span class="glyphicon glyphicon-chevron-right"></span>
				    <span class="sr-only">Next</span>
				</a>
	    	</div>
	    <!-- Carousel Number 2-->
	    	<div>
	    	</div>
	    </div>
    </div>
<!-- Gallery division between about me and Portfolio-->
	<div class="fixedGall" style="background-image: url(/images/white-plug-socket.jpg)">
	</div>
<!-- Portfolio showcasing projects from Jack Mckenna-->
	<div class="container" id="portfolio">
		<h1>PORTFOLIO</h1>
		<div class="row">
			<button class="btn portWork col-lg-3 offset2 col-md-3 offset-md-2 col-sm-8 offset-sm-2 col-xs-9 offset-xs-1">
				<a><img src="/images/light-fitting.jpg"></a>
				<h3>LIGHTING</h3>
			</button>
			<button class="btn portWork col-lg-3 col-md-3 offset-md-2 col-sm-8 offset-sm-2 col-xs-9 offset-xs-1">
				<a><img src="/images/electrical-fitting.jpg"></a>
				<h3>FITTINGS</h3>
			</button>
			<button class="btn portWork col-lg-3 col-md-3 offset-md-2 col-sm-8 offset-sm-2 col-xs-9 offset-xs-1">
				<a><img src="/images/Electrical-wiring.jpg"></a>
				<h3>WIRING</h3>
			</button>
			<button class="btn portWork col-lg-3 col-md-3 offset-md-2 col-sm-8 offset-sm-2 col-xs-9 offset-xs-1">
				<a><img src="/images/shadow-of-memories.jpg"></a>
				<h3>GHOSTS</h3>
			</button>
		</div>
	</div>
<!-- Gallery division between portfolio and contact page--> 
	<div class="fixedGall" id="wireDog" style="background-image: url(/images/dog-wire.jpg)">
	</div>
<!-- Contact page-->
	<div class ="container" id="contactMe">
		<div id="contactHead">
			<h1>Looking for Help?<br>Get in Touch!</h1>
			<p>Fill in the form below with your name, email and a message of what you'd like done and I will get back 
			to you as soon as possilbe</p>
		</div>
		<fieldset>
			<form>
				<div class="form-group">
					<label for="fname" class="field">Full Name</label>
					<input type="text">
				</div>
				<div class="form-group">
					<label>Email</label>
					<input>
				</div>
				<div class="form-group">
					<label>Your Message</label>
					<textarea class="form-control"></textarea>
				</div>
			</form>
		</fieldset>
	</div>
<!-- Electrician Footer -->
	<footer>
        <div class="footer" id="footer">
            <!-- Container -->
            <div class="container" >
                <!-- Row -->
                <div class="row">
                    <!-- Site Map -->
                    <div id="siteMap" class="col-lg-3 col-lg-offset-3 col-md-3 col-md-offset-3 col-sm-4 col-sm-offset-2 col-xs-7">
                        <h2>Site Map</h2>
                        <ul>
                            <li><a href="Home.html">Home</a></li>
                            <li><a href="About.html">About</a></li>
                            <li><a href="Products.html">Products</a></li>
                        </ul>
                        <ul>
                        	<li></li>
                        </ul>
                    </div>
                        <!-- Social Interaction -->
                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-7">
                        <h2>Keep in Touch!</h2>
                        <!-- Submit email box -->
                        <ul>
                            <li>
                                <div class="input-append newsletter-box text-center">
                                    <input type="text" class="full text-center" placeholder="Email ">
                                    <button class="btn  bg-gray" type="button"> Subscribe <i class="fa fa-long-arrow-right"> </i> </button>
                                </div>
                            </li>
                        </ul>
                        <ul class="social">
                            <li><a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                            <li><a href="#"> <i class="fa fa-twitter"></i> </a> </li>
                            <li><a href="#"> <i class="fa fa-instagram"></i> </a> </li>
                            <li><a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
                        </ul>
                        <!-- Social media interation -->
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom text-muted">
            <h4> Copyright &copy; Jack Mckenna</h4>
        </div>
	</footer>
<!-- Closing Div-->
</div>
