<!-- This covers the homepage for Electrician Site-->
<div class ="container" id="elecTop">
    <div id="elecTitle">
        <h2 id="elecHead" class="fix-head">Jack Mckenna</h2>
        <p>Electrician</p>
        <a><img src="/images/white-bulb-no-bck.png"></a>
        <p id="home-brief">I am a NICEIC qualified domestic installer.<br>To read about my background check out my about
        me page, or if you want to see what services I can provide head over to my portfolio.<br>
        If you are interested in the services I can offer, please submit you details on my 'Contact Me' page.</p>
    </div>
</div>