<!-- This covers the homepage for Electrician Site-->
<div class ="container" id="elecTop">
    <div id="elecTitle">
        <h2 id="elecHead" class="fix-head">Jack McKenna</h2>
        <p>Electrician</p>
        <a><img src="images/white-bulb-no-bck.png"></a>
        <p id="home-brief">I am a NICEIC qualified domestic installer, currently based in the Aylesbury area.<br> To read about my background check out my about
        me page, or if you want to see what services I can provide head over to my portfolio.<br>
        If you are interested in the services I can offer, please submit your details on my <a href="contact">Contact Me</a> page.</p>
    </div>
</div>