	<div id="HomeBck">
		<div id="HomeHead" class="container">
			<h1>JACK MCKENNA</h1>
		</div>
		<div class='container HomePortal'>
			<div class="row">
		    	<div id="electrician" class="PortalLink col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-1 col-xs-8 col-xs-offset-2">
			    	<a href='/electrician'><img src="/images/bulb-no-bck.png"></a>
			    	<h3>Electrician</h3>
			    	<p>Looking for an elctrician?<br>Click here to find out what services I can provide as well as how to get in touch.</p>
		    	</div>
		    	<div id="engineer" class="PortalLink col-lg-3 col-lg-offset-2 col-md-3 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-8 col-xs-offset-2">
			    	<a href="/engineer"><img src="/images/note.png"></a>
			    	<h3>Sound Engineer</h3>
			    	<p>Looking for a sound engineer?<br>Click here to view my what I can offer and previous clients.</p>
		    	</div>
			</div>
		</div>
	</div>