<!-- Portfolio showcasing projects from Jack Mckenna-->
<div class="container" id="portfolio">
	<h1>PORTFOLIO</h1>
	<h3>CLick the pictures below for more information</h3>
	<div class="row">
		<button class="btn portWork" ng-click="design_modal()">
			<a><img src="images/light-fitting.jpg"></a>
			<h3>Design</h3>
		</button>
		<button class="btn portWork" ng-click="installation_modal()">
			<a><img src="images/electrical-fitting.jpg"></a>
			<h3>Installation</h3>
		</button>
		<button class="btn portWork" ng-click="repair_modal()">
			<a><img src="images/Electrical-wiring.jpg"></a>
			<h3>Repair</h3>
		</button>
	</div>
</div>
<!-- Modal for Design -->
<div id="modalDesign" class="modal" role="dialog">
	<!-- Modal Content -->
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Design</h4>
		</div>
		<div class="modal-body">
			<!-- Wording provided by: https://www.matchtech.com/electrical-design-engineer-jobs-->
			<p>To Design and develop electrical systems and/or components to high specifications, focusing on cost, safety, reliability, 
				quality and sustainability. They can be involved in projects from the concept and detail of the design through to production, 
				installation and test. A core function is the identification of a customer's requirements and the design of systems and products 
				in line with this. </p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="close_modal()">Close</button>
		</div>
	</div>
</div>
<!-- Modal for Installation -->
<div id="installationModal" class="modal" role="dialog">
	<!-- Modal Content -->
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Installations</h4>
		</div>
		<div class="modal-body">
			<!-- Wording provided by: https://www.worldskills.org/what/career/skills-explained/construction-and-building-technology/electrical-installations/-->
			<p>To work on commercial, residential, agricultural and industrial projects. There is a direct relationship between 
				the nature and quality of the product required and the payment made by the customer. Therefore the electrician 
				has a continuing responsibility to work professionally in order to meet the requirements of the customer and thus 
				maintain and grow the business.</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="close_modal()">Close</button>
		</div>
	</div>
</div>
<!-- Modal for Repair -->
<div id="repairModal" class="modal" role="dialog">
	<!-- Modal Content -->
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Repair</h4>
		</div>
		<div class="modal-body">
			<!-- Wording provided by: http://www.aspect.co.uk/electrician/london-electrical-repairs/ -->
			<p>I offer electric repairs services and emergency electronic repairs throughout the London area 24 hours a day, 
				7 days a week. So whether you are looking for a specialist to carry out a small electrical repairs job on your 
				home, or whether you need emergency electric repairs for your company on short notice, get in touch today for a 
				free quote.</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="close_modal()">Close</button>
		</div>
	</div>
</div>