<!-- Portfolio showcasing projects from Jack Mckenna-->
<div class="container" id="portfolio">
		<h1>PORTFOLIO</h1>
		<div class="row">
			<button type="button" class="btn btn-large portWork" data-toggle="modal" data-target="#modalLighting">
				<a><img src="/images/light-fitting.jpg"></a>
				<h3>Design</h3>
			</button>
			<button type="button" class="btn portWork" data-toggle="modal" data-target="#modalFittings">
				<a><img src="/images/electrical-fitting.jpg"></a>
				<h3>Installation</h3>
			</button>
			<button type="button" class="btn portWork" data-toggle="modal" data-target="#modalWiring">
				<a><img src="/images/Electrical-wiring.jpg"></a>
				<h3>Repair</h3>
			</button>
		</div>
	</div>
<!-- Modal for lighting -->
	<div id="modalLighting" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal Content -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Design</h4>
				</div>
				<div class="modal-body">
					<p>Light is a type of energy. It is a form of electromagnetic radiation of a wavelength which can be detected by the human eye.[1] It is a small part of the electromagnetic spectrum and radiation given off by stars like the sun. Animals can also see light. The study of light, known as optics, is an important research area in modern physics.<br>Light is electromagnetic radiation that is shows properties of both waves and particles Light exists in tiny energy packets called photons. Each wave has a wavelength or frequency. The human eye sees each wavelength as a different color. Rainbows show the entire spectrum of visible light. The separate colors, moving in from the outer edges, are usually listed as red, orange, yellow, green, blue, indigo and violet. Other colors can be seen only with special cameras or instruments: Wavelengths below the frequency of red are called infrared, and higher than of violet are called ultraviolet.</p>
					<a class="modalPic" id="lightingPic"><img src="images/modal-images/Lightbulb.png"></a>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
<!-- Modal for Fittings -->
	<div id="modalFittings" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal Content -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Installation</h4>
				</div>
				<div class="modal-body">
					<a  class="modalPic"id="fittingPic"><img></a>
					<p>Info</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
<!-- Modal for Wiring -->
	<div id="modalWiring" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal Content -->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Repair</h4>
				</div>
				<div class="modal-body">
					<a class="modalPic"><img></a>
					<p>Info</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>